<%- include header %>
<ul style="list-style:none">
    <li><h3><a href="http://www.huangang.net">宦港'secretbase</a></h3>做一个有梦想的程序员</li>
    <li><h3><a href="http://picblog.jd-app.com">pic</a></h3>PIC电子科技协会</li>
</ul>
<%- include footer %>